Provenance de la clé publique?

Bonjour, je sui curieux de savoir la clé publique référencée ici:
https://github.com/ponahoum/Quebec-covid-19-qr-code-decoder/blob/5852ee03b9f7fbf94b0b3f25d4bf920a5110b6db/src/utilities/jws-utils.js#L61-L69
provient de où? À ma connaissance, la clé publique n'as pas encore été annoncée / publiée.

Intéressant, allons au fond de l’histoire! 😁 

https://github.com/fproulx/shc-covid19-decoder/issues/12

@remi bonne initiative, j'ai aussi envie de savoir !

Pour info, selon la norme, la clé publique doit avoir la forme suivante:

`
Each public key used to verify signatures is represented as a JSON Web Key (see RFC 7517):

SHALL have "kty": "EC", "use": "sig", and "alg": "ES256"
SHALL have "kid" equal to the base64url-encoded SHA-256 JWK Thumbprint of the key (see RFC7638)
SHALL have "crv": "P-256, and "x", "y" equal to the base64url-encoded values for the public Elliptic Curve point coordinates (see RFC7518)
SHALL NOT have the Elliptic Curve private key parameter "d"
If the issuer has an X.509 certificate for the public key, SHALL have "x5c" equal to an array of one or more base64-encoded (not base64url-encoded) DER representations of the public certificate or certificate chain (see RFC7517). The public key listed in the first certificate in the "x5c" array SHALL match the public key specified by the "crv", "x", and "y" parameters of the same JWK entry. If the issuer has more than one certificate for the same public key (e.g. participation in more than one trust community), then a separate JWK entry is used for each certificate with all JWK parameter values identical except "x5c".
`
(source : [https://spec.smarthealth.cards/#signing-health-cards](https://spec.smarthealth.cards/#signing-health-cards))



@ponahoum merci pour la précision! Je vais fermer ce issue, comme c’était plus une question qu’un bug. 